// List element styles
// ===================

ul {
  margin: 0;
  list-style-type: none;
}

// Cancel list styles for navigation elements
nav ul {
  list-style-type: none;
  margin: 0;
  li {
    &::before {
      display: none;
    }
  }
}
