// Blockquotes, cite element styles
// ================================

blockquote {
  color: $color-text-body;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  font-family: $font-family-body;
  padding: 0.3rem $spacing-xxsmall;
  margin: $spacing-xxxsmall 0 $spacing-xsmall 0;
  border-left: 3px solid $color-border-inverse;
}
