.progress-container {
  position: relative;
  margin-bottom: 10px;
}

.track-length {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 6px;
  font-size: 12px;
  color: #bbb;
}

.remaining-text {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 6px;
  font-size: 12px;
  color: #bbb;
}
