[Unit]
Description=Kyan Jukebox API Proxy using Caddy
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/caddy run -config /home/jukebox/app/current/backend/dist/Caddyfile

Restart=always
# Restart service after 10 seconds if service crashes
RestartSec=10
User=jukebox
Group=jukebox
