[Unit]
Description=Kyan Jukebox API

[Service]
ExecStart=/usr/bin/node /home/jukebox/app/current/dist/index.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kyan-jukebox-api
User=jukebox
Group=jukebox
Environment=NODE_ENV=production PORT=8080 WS_MOPIDY_URL=jukebox.local WS_MOPIDY_PORT=6680

[Install]
WantedBy=multi-user.target
