[Unit]
Description=Kyan Jukebox API
Documentation=https://github.com/kyan/jukebox-js
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/jukebox/app/current/dist/index.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kyan-jukebox-prod
User=jukebox
Group=jukebox
EnvironmentFile=/srv/jukebox-prod/envs

[Install]
WantedBy=multi-user.target
