.drag-is-over {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #807e7ec7;
}

.drag-is-over p {
  position: absolute;
  right: 100px;
  top: 75px;
  font-size: 80px;
  font-weight: bold;
}
