.header-wrapper {
  padding: 20px 20px 10px 20px;
}

.header-wrapper .ui.animated.button {
  margin-right: 1em;
}

.body-wrapper {
  padding: 10px 20px 20px 20px;
}

.dashboard-grid {
  display: 'flex';
  min-height: 100vh;
  flex-flow: 'column nowrap';
}
