.header-wrapper {
  padding: 20px 30px 10px;
}

.header-wrapper .ui.animated.button {
  margin-right: 1em;
}

.jukeboxWrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 10px 20px 20px;
}
