@import '../style/application/settings';

.c-header {
  height: 6.4rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  &__actions {
    // .c-header__actions
    display: flex;
  }

  // overrides

  .c-button {
    margin: 0.1rem 0.1rem 0 0;
    height: calc(100% - 0.2rem);
    width: 6.2rem;
  }
}

.c-main {
  display: flex;
  height: calc(100vh - 6.4rem);

  &__nowPlaying {
    // .c-main__nowPlaying
    flex-shrink: 1;
    border-right: $border-width solid $brand-black;
    background-color: rgba($brand-grey3, 0.5);
    padding: $spacing-xxsmall 1.25rem 0;
    height: 100%;
    overflow: hidden;
  }

  &__trackList {
    // .c-main__trackList
    flex-grow: 1;
    padding: $spacing-xxsmall;
    height: 100%;
    overflow: hidden;
  }
}
