.ui.comments .comment {
  margin-bottom: 25px;
}

.ui.comments .comment .author {
  font-size: 1.1em;
  margin-bottom: 2px;
}

.ui.list>.item .remove-image {
  cursor: pointer;
}

.ui.comments .comment .avatar {
  width: 70px;
  margin: 0 1em 0 0;
}

.comment .avatar .small img {
  width: 110px;
}

.ui.comments .comment.current-track {
  background-color: #f7f7f7;
  padding-bottom: .5em;
  padding: 1em;
}

.ui.comments .ui.avatar.image.added_by_avatar_image {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

.ui.label.track-label {
  margin-right: 8px;
}

.rating-container .vote-track-label {
  float: right;
}

.track-search-link {
  cursor: pointer;
  color: #555;
}
