.trackRow {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.trackCell__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trackImage {
  width: 64px;
  height: 64px;
  object-fit: cover;

  &--current {
    box-shadow: 0 0 4px #191b23;
  }
}
