.trackRow {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 2.5rem 0;
}

.trackCell__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trackImage {
  width: 6.4rem;
  height: 6.4rem;
  object-fit: cover;

  &--current {
    box-shadow: 0 0 4px #191b23;
  }
}

.trackImage__wrapper {
  margin: 0 3rem 0 0;
}
