@import '../../style/application/settings';
@import '../../style/application/tools/tools.mixins';

.c-tracklist {
  display: flex;
  flex-direction: column;

  &__item {
    // .c-tracklist__item
    display: flex;
    align-items: center;
    margin-top: $spacing-xxxsmall;
    color: $brand-grey1;

    &--current {
      // .c-tracklist__item--current
      background-color: rgba(255,255,255,0.05);
    }
  }

  &__image {
    // .c-tracklist__image
    width: 6rem;
    height: 6rem;
    margin-right: $spacing-xxxsmall;
  }

  &__title {
    // .c-tracklist__title
    margin-right: $spacing-xxxsmall;
    color: $brand-white;
  }

  &__artist {
    // .c-tracklist__artist
    margin-right: $spacing-xxxsmall;
    font-size: $font-size-small;
  }

  &__trackLength {
    // .c-tracklist__trackLength
    font-size: $font-size-smallest;
  }
}


.ui.list>.item .remove-image {
  cursor: pointer;
}

.ui.comments .comment .avatar {
  width: 70px;
  margin: 0 1em 0 0;
}

.comment .avatar .small img {
  width: 110px;
}

.ui.comments .comment.current-track {
  padding-bottom: .5em;
  padding: 1em;
  background-color: rgba(255,255,255,0.05);
}

.ui.comments .ui.avatar.image.added_by_avatar_image {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

.ui.label.track-label {
  margin-right: 8px;
}

.rating-container .vote-track-label {
  float: right;
}

.track-search-link {
  cursor: pointer;
  color: #888;
}
