.c-controls__wrapper {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.c-controls__button {
  border: none;
  background: transparent;
  padding: 0;
}

.c-controls__button:focus {
  outline: none;
}

.c-controls__button i.icon {
  display: block;
  width: auto;
  margin: 0;
  color: var(--iconDefault);
  transition: color 0.3s;
}

.c-controls__button--skip i.icon {
  color: var(--iconSecondary);
}
.c-controls__button--skip:hover i.icon {
  color: var(--iconDefault);
}
