// Background
// ==========

@each $name, $colour in $palette {
  #{override('.u-bg-' + $name)} {
    // .u-bg-red.u-bg-red
    background-color: $colour;

    // Determine if the background is dark, if so, set the colour to $white.
    @if (lightness($colour) < 50) {
      color: $brand-white;
      //set headings to white
      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3,
      h4,
      .h4,
      h5,
      .h5,
      h6,
      .h6 {
        color: $brand-white;
      }
    }
  }
}

#{override('.u-bg-checked')} {
  background-image: linear-gradient(
      45deg,
      rgba(43, 40, 38, 0.1) 25%,
      transparent 0
    ),
    linear-gradient(-45deg, rgba(43, 40, 38, 0.1) 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, rgba(43, 40, 38, 0.1) 0),
    linear-gradient(-45deg, transparent 75%, rgba(43, 40, 38, 0.1) 0);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-repeat: repeat;
}

// White top, grey bottom
#{override('.u-bg-bridge')} {
  background-color: $brand-white;
  position: relative;
  display: block;
  z-index: $z-index-default;

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background: $brand-grey1;
  }
}

// Grey top, white bottom
#{override('.u-bg-bridgeAlt')} {
  background-color: $brand-white;
  position: relative;
  display: block;
  z-index: $z-index-default;

  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: $brand-grey1;
  }
}
