.sidebar-search {
  background-color: rgb(71, 71, 71);
  padding: 25px;
}

.search-list-item {
  display: flex;
  color: white;
}

.search-list-item .content {
  width: 80%;
}

.search-list-item.disabled {
  color: #a6a6a6;
  cursor: default;
}

.search-list-item__header {
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list-item__image {
  cursor: pointer;
}

.draggable .search-list-item__image {
  pointer-events: none;
}

.search-list-item__content {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list-item__add {
  cursor: pointer;
  font-size: 10px;
}

.search-list-item-draggable {
  display: flex;
}

.search-list-item__remove {
  margin-left: auto;
  margin-block-start: auto;
  margin-bottom: 15px;
  color: white;
}

.search-list-item__add:hover,
.search-list-item__remove:hover {
  color: #999;
}

.search-list-pagination.menu .item {
  color: white;
}

.search-list-pagination.menu .active.item {
  color: white !important;
  font-weight: bold !important;
  border-color: tomato !important;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
