@import '../../../style/application/_settings.scss';

.sidebar-search {
  background-color: rgb(71, 71, 71);
  padding: 25px;
}

.search-list-item {
  color: white;
  clear: both;
  cursor: pointer;
}

.search-list-item.disabled {
  color: #a6a6a6;
  cursor: default;
}

.search-list-item__header {
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list-item__content {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-list-pagination.menu .item {
  color: white;
}

.search-list-pagination.menu .active.item {
  color: white !important;
  font-weight: bold !important;
  border-color: tomato !important;
}

.ui.tiny.image.search-list-item__image {
  width: 64px;
}

.ui.button,
.ui.form,
.ui.form .field>label {
  font-size: $font-size-small
}
