.ui.buttons .labelWrapper {
  display: flex;
  align-items: center;
}

.ui.buttons .labelWrapper .or:before {
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
